* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

.btn {
    min-width: 19.2rem;
    max-width: 33.6rem;
    height: 5.2rem;
    background-color: #6A994E;
    border-radius: 1.2rem;
    display: block;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 5.2rem;
    color: #ffff;
    text-transform: uppercase;
    text-decoration: none;
}

h1 {
    margin: 0;
}

/* Navigation */

.navi__product {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 14.6rem;
    background-color: #F1F1E7;
}

.shopename, .navbox__search, .nav__icon {
    line-height: 14.6rem;
    text-align: center;
}

.shopename {
    font-size: 400%;
    color: #59815B;
    text-transform: uppercase;
    flex-grow: 1;
}

.shopename__color {
    text-decoration: none;
    color: #59815B;
}

.navbox__search {
    flex-grow: 4;
}

.navi__product__search {
    width: 80%;
    height: 5.6rem;
    border: none;
    outline: none;
    border-radius: 2.4rem;
    padding-left: 2%;
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
}

.nav__icon {
    display: flex;
    height: 100%;
    justify-content: space-around;
    line-height: 14.6rem;
    flex-grow: 1;
    align-items: center;
    padding-right: 2%;
}

.cart__icon, .login__icon, .menu__icon {
    line-height: 100%;
    height: 28%;
}

/* Contact content */
.contact__content {
    width: 100%;
    height: auto;
    padding: 4% 12% 8% 12%;
}

.contact__details {
    padding-left: 16%;
}
.contact__form, .contact__details {
    width: 80%;
    height: 100%;
    align-items: center;
}

.wrap__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}

.contact__form__note {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact__details__note {
    width: 80%;
}

.contact__form__heading, .contact__details__heading {
    font-size: 4rem;
    font-style: italic;
    padding-bottom: 4%;
}

.contact__style {
    color: #6A994E;
    font-weight: bold;
    font-style: italic;
}

.wrap__contact__address, .wrap__contact__phone, .wrap__contact__mail {
    display: flex;
}

.contact__form__name, .contact__form__email, .contact__form__subject, .contact__form__massage {
    padding: 0;
    margin: 0 0 2% 0;
    padding-left: 2%;
    height: 5.1rem;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 2.4rem;
    font-weight: 300;
    color: #b2b2b2;
    width: 100%;
    border-radius: 0.8rem;
}

.contact__form__massage {
    width: 100%;
    height: 100%;
    resize: none;
    line-height: 1.5;
    padding-top: 0.5%;
    
}
.type__massage {
    height: 52rem;
    width: 100%;
    padding-bottom: 4%;
}

.contact__btn {
    max-width: 22rem;
}

.address__icon, .phone__icon, .mail__icon {
    padding-right: 2%;
    height: 2.5rem;
}

.address__text, .phone__number, .mail__name {
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    /* Lấy bằng line-height của icon */
    line-height: 2.5rem; 
}

.contact__details__address, .contact__details__phone, .contact__details__mail {
    height: 21.8rem;
    padding-bottom: 2%;
}

.address_text, .number__phone_text, .mail__text {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
    padding-left: 4%;
}

.contact__details__address, .contact__details__phone, .contact__details__mail {
    margin-bottom: 2%;
    border-bottom: 1px dashed #b2b2b2;
}

.contact__btn_text {
    color: #ffff;
    text-decoration: none;
}
/* Footer Section */

.footer {
    background-color: #373737;
    width: 100%;
    height: 53.5rem;
    text-align: center;
    color: #ffff;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    font-size: 1.8rem;
}

.section__s1_alltext {
    display: flex;
    flex-direction: column;
}

.footer__content_section.s1, .footer__content_section.s2, .footer__content_section.s3, .footer__content_section.s4{
    width: 100;
    max-width: 34.0rem;
    text-align: left;
    color: #FFFF;
    line-height: 1.6;
    opacity: 0.9;
}

.section__s1__heading, .section__s2__heading, .section__s3__heading, .section__s4__heading {
    padding-bottom: 4%;
}
.footer__content_section.s1 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.section__s1__heading {
    font-family: 'Roboto Slab', serif;
    font-size: 3.2rem;
    font-weight: 800;
    color: #008000;
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    text-decoration: none;
}

.section__s1_text {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: #ffff;
    font-size: 2.4rem;
    line-height: 2.8;
    letter-spacing: 0.4rem;
    padding-top: 2%;
}

.section__s2__spacingtext {
    padding-top: 2%;
}

.section__s2__heading, .section__s3__heading, .section__s4__heading {
    font-size: 2.8rem;
    letter-spacing: 0.4rem;
}

.heading__s2__color, .heading__s3__color {
    color: #008000;
}

.section__s2__text, .section__s3__text {
    padding-bottom: 4%;
    font-size: 1.8rem;
}

.section__s3__spacingtext {
    padding-top: 5%;
}

.section__s3__text {
    font-size: 1.8rem;
    padding-bottom: 0;
    line-height: 1.6;
}

.footer__content_section.s3, .footer__content_section.s4 {
    width: unset;
}

.section__s4.facebook, .section__s4.instagram, .section__s4.twitter {
    height: 2.5rem;
    width: auto;
}

.section__s4__icons {
    padding-top: 19%;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}

/* copyright */

.copyright {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.6;
    padding-top: 3%;
}



/* responsive-contact */

/* m: Moble, t: Tablet, p: PC*/

/* Mobile */
@media (max-width: 767px) {

     /* navigation-section */

     .navi__product {
        padding: 0;
    }

    .shopename {
        font-size: 88%;
    }

    .navi__product__search {
        height: 18%;
        font-size: 1.2rem;
    }

    .cart__icon, .login__icon, .menu__icon {
        height: 12%;
    }

    /* contact-body */

    .wrap__form {
        display: flex;
        flex-direction: column;
    }

    .contact__form__heading, .contact__details__heading {
        font-size: 2rem;
        padding-bottom: 8%;
    }

    .contact__form__name, .contact__form__email, .contact__form__subject, .contact__form__massage {
        font-size: 1.6rem;
        height: 3.2rem;
    }

    .contact__form__massage {
        height: 100%;
    }

    .contact__btn.btn {
        max-width: unset;
        width: 16rem;
        font-size: 1.6rem;

    }

    .btn {
        min-width: unset;
    }

    .contact__details {
        padding-left: unset;
        padding-top: 20%;
    }

    .contact__details__address {
        border-top: 1px solid #b2b2b2;
    }

    /* form-Details */

    .address__text, .phone__number, .mail__name {
        font-size: 1.6rem;
        margin: 0;
    }

    .wrap__contact__address, .wrap__contact__phone, .wrap__contact__mail {
        padding-bottom: 2%;
    }

    .address_text, .number__phone_text, .mail__text {
        font-size: 1.4rem;
    }

    .address__icon, .phone__icon, .mail__icon {
        height: 2rem;
    }

    .contact__details__address, .contact__details__phone, .contact__details__mail {
        height: 12rem;
    }

    .wrap__contact__address {
        padding-top: 1%;
    }

    /* footer-section */

    .footer__content_section.s2, .footer__content_section.s3 {
        display: none;
    }

    .section__s1__heading {
        font-size: 2rem;
        letter-spacing: 0.4rem;
    }

    .section__s1_text {
        font-size: 1.8rem;
    }

    .section__s4__heading {
        font-size: 1.8rem;
    }

    .section__s4.facebook, .section__s4.instagram,
    .section__s4.twitter {
        height: 1.8rem;
    }

    .section__s4__icons {
        padding: 0.32rem;
        line-height: 2.8;
    }
/* nên để height là auto ở đây*/
    .footer {
        height: auto;
    }

    .copyright {
        margin: 0;
        font-size: 1rem;
        padding: 16% 2% 1% 2%;
    }

    
}





/*  tablet  */
@media (min-width: 768px) and (max-width: 1024px) {
    .row {
        margin-left: 12px;
        margin-right: 12px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    /* navigation-section */

    .shopename {
        font-size: 2rem;
    }

    .navi__product__search {
        height: 4.4rem;
    }

    .nav__icon {
        padding-right: 4%;
    }

    .cart__icon, .login__icon, .menu__icon {
        height: 20%;
    }

    /* form-section */

    .contact__form__heading, .contact__details__heading {
        font-size: 3.2rem;
    }

    .contact__form__heading, .contact__details__heading,
    .contact__form__subject, .contact__form__massage {
        margin: 0 0 4% 0;
        padding-left: 4%;
    }

    .wrap__contact__address, .wrap__contact__phone, .wrap__contact__mail {
        align-items: center;
    }


    /* footer-section */

    .footer__content_section.s3 {
        display: none;
    }

    .section__s1__heading {
        font-size: 2.4rem;
        letter-spacing: 0.2rem;
        padding-top: 0.25rem;
    }

    .section__s2__heading, .section__s3__heading, .section__s4__heading {
        font-size: 2.4rem;
    }

    .section__s1_alltext {
        padding-top: 3rem;
    }

    .section__s4__icons {
        padding-top: 5rem;
    }

    .section__s2__spacingtext {
        padding-top: 1.8rem;
    }

    .copyright {
        padding-top: 6rem;
    }

}

/* PC */
@media (min-width: 1025px) {
    .row {
        padding: 8% 4% 4% 4%;
    }

    .col {
        padding-left: 4%;
        padding-right: 4%;
    }

    .p-4 {
        flex: 0 0 calc(4*(100%/12));
        max-width: calc(4*(100%/12));
    }

    .address__text, .phone__number, .mail__name {
        margin: 0;
    }
}
